<div id="post_content">
    <div class="jumbotron">
      <div class="container">

        <p class="date">
        <strong>
          <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            Submitted <%= time_ago_in_words(@post.created_at) %> Ago
            <% if current_user %> <!-- if user not log in -->
              | <%= link_to 'Edit', edit_post_path(@post) %>
              | <%= link_to 'Delete', post_path(@post), method: :delete, data: {confirm: 'Are you sure?' } %>
            <% end %>
          </strong>
        </p>

        <p class="content">
          <%= @post.content %>
        </p>

        <div id="comments">
          <h2><%= @post.comments.count %> Comments</h2>
          <%= render @post.comments %>

          <h3>Add a comment:</h3>
          <%= render "comments/form" %>
        </div>
    </div>
  </div>
</div>
